.container{
    font-size: 20px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    margin-left: 600px;
}
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waves {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -1;
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveBottom {
    background-size: 100% 100px;
}
.wavesAnimation .waveTop {
    animation: move_wave 20s linear infinite;
}
.wavesAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.wavesAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
