.circle{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 
    0 0 0 5px rgba(255, 255, 255, 0.5);
}

.circle:hover{
    cursor: pointer;
}

@keyframes bounce {
    from {
      transform: translate3d(0, -160px, 0);
    }
  
    to {
      transform: translate3d(0, 0px, 0);
    }
  }

  @keyframes circle{
    0%{
      transform:rotate(0deg)
                translate(-280px)
                rotate(0deg);
    
    }
    100%{
      transform:rotate(360deg)
                translate(-280px)
                rotate(-360deg);
    }
  }