.centro{
    display: flex;
    align-items: center;
    justify-content: center ;
}

.contatos{
    width: 800px;
    margin-top: 240px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contatos img:hover{
     cursor: pointer;
     opacity: 0.7;
     transform: translateY(-10px);    transition: 200ms;
    
}

