.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.circles{
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    animation-name: home;
    animation-duration: 1s;
}
header,footer{
    visibility: hidden;
    opacity: 0%;
    animation: 2s linear 1.5s forwards appear ;
}

@keyframes home{
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes appear{
    to {
      opacity: 1;
      visibility: visible;
    }
}