.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.circles{
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    animation-name: home;
    animation-duration: 1s;
}

@keyframes home{
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(0);
    }
}