.navBar{
    display: flex;
    justify-content: space-between;
    padding: 20px 70px 0px 30px;
    width: 100%;
    height: 6rem;
}
.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    color: var(--color-pink);
    font-size: larger;
}
.options h1, .logo{
    cursor: pointer;
}
.options h1{
    transition: 0.5s;
}
.options h1:hover{
    color: var(--color-blue);
}