.footer{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 150px;
    height: 80px;
    margin: 0px 40px 40px;
}
.footer img{
    height: 60px;
    transition: 170ms;
}
.footer img:hover{
    height: 80px;
    cursor: pointer;
}