*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
  font-weight: lighter;
}

body {
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(10deg, white, rgb(255, 255, 255))

}

:root {
  --color-black:black;
  --color-blue:#150050;
  --color-purple:#3F0071;
  --color-pink:#FB2576;
  --color-white:#ffffff;
}
